<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Administrador - RPA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-image: url('https://st3.depositphotos.com/1177973/14011/i/450/depositphotos_140115380-stock-photo-group-of-cute-pets.jpg'); /* Imagen de fondo */
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 90%;
            max-width: 500px;
        }

        h1 {
            color: #FF5733; /* Naranja cálido */
            margin-bottom: 20px;
            font-family: 'Oswald', sans-serif; /* Tipografía para el título */
            font-size: 2.8em; /* Tamaño del título */
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
        }

        button {
            padding: 10px;
            width: 100%;
            background-color: #FF5733; /* Naranja cálido */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s;
            font-size: 1em;
            margin-top: 10px;
        }

        button:hover {
            background-color: transparent;
            color: #FF5733;
            border: 2px solid #FF5733;
        }

        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Acceso de Administrador</h1>
        <form action="/admin-login" method="POST">
            <div class="form-group">
                <label for="admin-password">Contraseña de Administrador</label>
                <input type="password" id="admin-password" name="admin-password" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
